
/**/

.container{
  height: 100vh;
  background-color: black;
  color: white;

}

.wrapper{
  position: relative;
  height: 60vh;
  margin: 4rem;
}

.nowOnInfo {
  display: flex;
  justify-content: space-between;
  gap: 1.4rem;
  position: absolute;
  top: 0;
  right: 0;
}

.badge {
  display: inline-block;
  background-color: #ff2eba;
  padding: 0.25rem 0.6rem 0.125rem;
  font-size: 12px;
  font-weight: 800;
  border-radius: 9999px;
  line-height: 1;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  margin-top: 6px;
  animation: blink .5s 1s ease-in-out 1 both;
}

@keyframes blink {
  0%{
    opacity: 0;
    transform: scale(2);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.year {
  font-size: 26px;
  font-weight: 900;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
}

.schedule {
  font-size: 18px;
  font-weight: 800;
}

.location {
  font-size: 18px;
  font-weight: 800;
}


.buyButton {
  cursor: pointer;
  font-weight: 900;
  border: 1px solid white;
  padding: 1rem 2rem;
  border-radius: 9999px;
  height: fit-content;
  position: absolute;
  right: 0;
  bottom: 0;
}

.locationWrap{
  position: absolute;
  left: 0;
  bottom: 0;
}



.bgBox {
  background-image: url('/images/main-bg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;padding: 2rem 0;
}

.bgBox .location{position: absolute; right: 0; bottom: 0;}



@media all and (max-width: 767px){

  .schedule{
    right: auto;
    top: auto;
    left: 0;
    bottom: 0;
  }
}