.noise {
  background: #fff url('/images/main/noise.gif') repeat center top fixed;
  /* overflow: hidden; */
}

.wrapper {
  padding: 4rem;
}

.wrapperTop {
  padding-top: 4rem;
}

.wrapperInline {
  padding-inline: 4rem;
}

.wrapperBottom {
  padding-bottom: 4rem;
}

.marginInline {
  margin-inline: 4rem;
}

.wrapper > div:last-child {
  margin-bottom: 50px;
}
.slideText {
  font-family: 'Montserrat', sans-serif;
}

.overflowHidden {
  overflow: hidden;
}

.cardSlowImg {
  width: auto;
}

.newCardImg {
}
.newCardSlowImg {
}
.newCardSlowImg2 {
}
.centerCardImg {
  opacity: 1;
}

.cardImgIn {
  width: auto;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.fixedBox {
  /* position: absolute; */
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.fixedBox .wrapper {
  position: relative;
  height: 100%;
}

.centerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Suit', sans-serif;
  font-weight: 800;
}

.leftTitle {
  position: relative;
  width: 10rem;
  padding-right: 0.5rem;
  text-align: end;
}

.rightTitle {
  position: relative;
  padding-left: 0.5rem;
  text-align: start;
}

.videoBox {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  background: rgb(0, 0, 0);
  border-radius: 12px;
}

.videoBox iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 이미지 공통 스타일 */
.image {
  position: absolute;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  transform: scale(0.2);
  opacity: 0;
  transition: none; /* GSAP가 컨트롤 */
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.img1 {
  left: 30%;
  top: 6%;
  width: 320px;
  height: 410px;
}
.img2 {
  right: 30%;
  top: 15%;
  width: 136px;
  height: 180px;
}

.img3 {
  left: 10%;
  top: 7%;
  width: 400px;
  height: 500px;
}
.img4 {
  right: 30%;
  top: 18vh;
  width: 222px;
  height: 236px;
}
.img5 {
  left: 15%;
  bottom: 15%;
  width: 320px;
  height: 150px;
}

.img6 {
  right: 15%;
  bottom: 10%;
  width: 489px;
  height: 318px;
}

.sectionTop {
  height: 100vh;
  background-color: #000;
  color: #fff;
  position: absolute;
  width: 100vw;
  z-index: 1;
  overflow: hidden;
}

.sectionTop .wrapper {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.sectionTop .logo {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  width: 250px;
  overflow: hidden;
}

.sectionTop .logo img {
  display: block;
}

.sectionTop .text {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.sectionTop .text * {
  font-family: inherit;
}

.scrollBar {
  position: absolute;
  left: 50%;
  bottom: 0;
  text-align: center;
  transform: translateX(-50%);
  height: 140px;
  margin-bottom: 0 !important;
}
.scrollBar span {
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  animation: showText 1s 1.8s both;
}
@keyframes showText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scrollBar .bar {
  width: 1px;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  animation: aniBar 1s 2.4s both;
}

@keyframes aniBar {
  from {
    height: 0;
  }
  to {
    height: 140px;
  }
}

.sectionBg .scrollBar {
  position: absolute;
  left: 50%;
  bottom: 25%;
  text-align: center;
  transform: translateX(-50%);
  height: 140px;
  margin-bottom: 0 !important;
}

.sectionBg .scrollBar .bar {
  width: 1px;
  height: 140px;
  background-color: white;
  margin: 0 auto;
  animation: aniBar 1s 2.4s both;
}

.sectionBg .scrollBar.show .bar {
  animation: aniBar 1s 0.2s both;
}

.bgBox {
  background-color: black;
  box-sizing: border-box;
  position: relative;
  top: 0;
  height: 110vh; /* 조정 필요 */
  overscroll-behavior: none;
  place-content: center;
}

.textRight {
  overflow: hidden;
  text-align: right;
}

.textDeco {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.infoCard {
  max-width: 960px;
  margin: 0 auto;
}

.infoCardDivide {
  display: flex;
  gap: 16px;
}

.infoCardDivide .cardImg {
  width: 50%;
}

.cardImg,
.cardImg2 {
  border-radius: 12px;
  overflow: hidden;
  margin: 26px 0;
}

.cardImg img {
  width: 100%;
  display: block;
  transform-origin: 50% 124% 0;
}

.cardImg.sgSmImg img {
  transform-origin: 50% 190% 0;
}

.cardText {
  overflow: hidden;
  font-weight: 400;
}

.infoCardFloating {
}
.floatingBox {
  position: relative;
  width: 400px;
  margin: 30vh auto 40vh;
}

.floatingBox .keyImg {
  overflow: hidden;
  border-radius: 12px;
}

.floatingBox .keyText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;

  font-weight: 800;
  text-align: center;
  line-height: 1.2;
}
.colorWhite {
  color: #fff;
}

.floatingBox .floatingImg {
  position: absolute;
  width: 100px;
  overflow: hidden;
  border-radius: 12px;
}

.floatingBox .floatingImgLeft {
  left: -160px;
  bottom: -140px;
}

.floatingBox .floatingImgRight {
  right: -160px;
  top: -100px;
}

.floatingBox .subText {
  overflow: hidden;
  position: absolute;
  right: -100px;
  bottom: -100px;
  text-align: right;
}

.sectionBg {
  background-color: #000;
  position: relative;
}

.sectionBg .blindBg1 {
  width: 100%;
  display: block;
}

.sectionBg .blindBg2 {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}

.sectionBg .blindText {
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
}

.sectionBg .blind {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00000069;
}

.sectionBg .blind h2 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 500;
  font-size: 32px;
}

.display * {
  font-family: 'Noto Serif Display', serif;
  font-weight: 500;
}

.blind h3 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 500;
}

.divideBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10vh 0;
}

.divideImg {
  width: 30%;
  border-radius: 12px;
  overflow: hidden;
}

.divideImg.divideImgLeft {
  /* transform: translateY(140px); */
  transform: translateY(40px);
}

.divideImg.divideImgRight {
  transform: translateY(-50px);
}

.delightSeoulMarqueeContainer {
  overflow: hidden;
  padding-bottom: 10rem;
}

.marqueeText {
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  width: 100%;
  min-width: 100%;
  position: relative;
  top: 80px;
  white-space: nowrap;
}

.sectionGrid {
  background-color: #000;
}

.gridWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.gridWrap .gridBox {
  width: 24.8%;
  margin-bottom: 0.2%;
  position: relative;
  overflow: hidden;
}

.gridWrap .gridBox .text {
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 60px;
}

.gridWrap .gridBox img {
  width: 100%;
}

.sectionFaq {
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.marqueeTitle {
  width: 100%;
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #fff;
  white-space: nowrap;
  user-select: none;
  margin-left: -2vw;
  justify-self: right;
}

.accorWrap {
  border-top: solid 1px rgba(255, 255, 255, 0.2);
}
.accorCol {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.accorCol .title {
  padding: 16px;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.accorDetail {
  padding: 0 16px;
  font-size: 0.9rem;
  line-height: 1.7;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background: none;
  transition:
    max-height 0.4s cubic-bezier(0.87, 0, 0.13, 1),
    opacity 0.3s cubic-bezier(0.87, 0, 0.13, 1),
    padding 0.3s cubic-bezier(0.87, 0, 0.13, 1);
}

.accorDetail.open {
  padding: 16px;
  opacity: 1;
  max-height: 300px;
}

.sectionLocation {
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.location {
  margin-bottom: 36px;
  overflow: hidden;
}

.location > div {
  width: 100% !important;
}

.row {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 18px;
}

.row > p {
  margin-left: 36px;
  text-align: right;
}

.footer {
  background-color: #000;
  color: #fff;
  padding-top: 120px;
}

.footer .wrapper {
  display: flex;
  gap: 36px;
  height: 150px;
}

.footer .footerLogo {
}

.pivotScSection {
  background-image: url('/images/main/bg03.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.pivotScSection h2 {
  color: white;
  font-weight: 800;
  font-size: 42px;
  font-family: 'Montserrat', sans-serif;
  justify-self: center;
  padding-top: 6rem;
}

.pivotScSection p {
  color: white;
  text-align-last: center;
  padding-top: 20px;
}

.pivotScImgs {
  position: relative;
  width: 100%;
  height: 373px;
  overflow: hidden;
}

.pivotScImgsInner {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 12px;
  border-radius: 16px;
}

.pivotScSection img {
  border-radius: 16px;
}

/* Sticky Gallery css */
.sgContainer {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 0;
  min-height: 200vh;
  justify-content: space-between;
}
.sgLeft {
  position: sticky;
  top: 0;
  height: 100vh;
  font-size: 32px;
  color: #222;
  font-weight: 700;
  padding: 5rem 4rem;
  box-sizing: border-box;
  width: 50%;
  transition: opacity 0.3s;
  opacity: 1;
}

.sgLeftTop {
  font-size: 18px;
  color: #444;
  font-weight: 800;
}

.sgRight {
  flex: 2;
  padding: 4rem 40px;
  width: 50%;
  box-sizing: border-box;
}

.sgRight p {
  padding-block: 20px;
  font-weight: 700;
  justify-self: center;
}
.sgImageBlock {
  justify-self: right;
  margin-bottom: 80px;
  text-align: center;
}
.sgImg {
  max-width: 100%;
  width: 720px;
}

.sgCaption {
  margin-top: 18px;
  font-size: 1rem;
  font-weight: bold;
}

@media all and (max-width: 767px) {
  .sectionTop .logo {
    width: 180px;
  }

  .sectionTop .text span {
    font-size: 16px;
  }

  .bgBox {
    background-color: black;
    height: 50vh;
  }

  .cardImg,
  .cardImg2 {
    border-radius: 4px;
  }
  .cardImg.smCardImg img {
    transform-origin: 50% 244% 0;
  }

  .cardImg img {
    transform-origin: 50% 118% 0;
  }

  .wrapper {
    padding: 1.5rem;
  }

  .wrapperTop {
    padding-top: 1.5rem;
  }

  .wrapperInline {
    padding-inline: 1.5rem;
  }

  .wrapperBottom {
    padding-bottom: 1.5rem;
  }

  .marginInline {
    margin-inline: 1.5rem;
  }

  .floatingBox {
    width: 80%;
    margin: 16vh auto 30vh;
  }

  .floatingBox .floatingImgLeft {
    left: -10%;
    bottom: -87px;
  }

  .floatingBox .floatingImgRight {
    right: -10%;
    top: -100px;
  }

  .floatingBox .subText {
    right: 0;
    bottom: -140px;
  }

  .marqueeText {
    font-size: 42px;
    top: 50px;
  }

  .row {
    font-size: 16px;
    display: block;
  }

  .row > div {
    margin-bottom: 12px;
  }

  .row > p {
    text-align: left !important;
    margin-left: 0;
  }

  .row br {
    display: none;
  }

  .floatingBox .keyText {
    font-size: 48px;
  }

  .centerTitle {
    font-size: 2rem;
  }

  .rightTitle {
    width: 65px;
  }

  .footer .wrapper {
    display: block;
    height: auto;
  }

  /* 카드 이미지 6개 */
  .img1 {
    left: 10%;
    top: 0;
    width: 320px;
    height: 410px;
  }
  .img2 {
    left: 15%;
    top: 10%;
    width: 136px;
    height: 180px;
  }
  .img3 {
    left: 46vw;
    top: 17vh;
    width: 186px;
    height: 256px;
  }
  .img4 {
    right: 10%;
    top: 10%;
    width: 222px;
    height: 236px;
  }
  .img5 {
    left: 0;
    bottom: 20%;
    width: 320px;
    height: 150px;
  }
  .img6 {
    left: 9vw;
    top: 42vh;
    width: 489px;
    height: 318px;
  }

  .videoBox {
    height: 220px !important;
    place-content: center;
  }

  .leftTitle {
    width: auto;
  }

  .gridWrap .gridBox {
    width: 49.5%;
  }

  .gridWrap .gridBox.gridBox1 {
    order: 1;
  }

  .gridWrap .gridBox.gridBox2 {
    order: 2;
  }

  .gridWrap .gridBox.gridBox3 {
    order: 3;
  }

  .gridWrap .gridBox.gridBox4 {
    order: 4;
  }

  .videoBox {
    height: 0px;
  }

  .divideImgCenter.cardImg img {
    width: 100%;
    display: block;
    transform-origin: 50% 120% 0;
  }

  .divideImgLeft.cardImg img,
  .divideImgRight.cardImg img {
    width: 100%;
    display: block;
    transform-origin: 50% 140% 0;
  }

  .sgContainer {
    padding-inline: 1.5rem;
    min-height: 95vh;
    padding: 0 1rem;
  }
  .sgLeftTop {
    font-size: 14px;
  }
  .sgLeft {
    padding: 50px 1rem;
    font-size: 18px;
    width: 40%;
  }

  .sgRight {
    width: 60%;
    padding: 50px 0;
  }

  .sgRight .infoCardDivide {
    flex-wrap: wrap;
  }

  .sgRight .infoCardDivide .cardImg {
    width: 100%;
  }

  .sgRight p {
    font-size: 16px;
    padding-block: 0;
  }

  .sgImg {
    width: 100%;
    display: block;
    transform-origin: 50% 190% 0 !important;
  }

  .pivotScSection {
    /* height: 100vh !important; */
  }

  .pivotScSection h2 {
    padding-inline: 1.5rem;
    text-align: center;
    font-size: 33px;
  }

  .pivotScImgs {
    height: 273px;
    align-content: center;
  }

  .pivotScImgsInner {
    width: auto;
  }

  .sectionBg .blindText {
    font-size: 16px;
  }

  .pivotScSection p {
    /* padding-bottom: 5rem; */
  }
}
