modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "static"
publicDir = "out"

[[ports]]
localPort = 3000
externalPort = 80
